<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Katherine Welbourne | Portfolio</title>
    <style>
      .wrapper {
        max-width: 1200px; /* Set the desired width */
        margin: 0 auto; /* Center the wrapper */
        padding: 0 20px; /* Add spacing inside */
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | absolute_url }}" style="color: black;">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="Logo" />
        {% endif %}
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page %}
        {% endif %}
      </footer>
    </div>
  </body>
</html>
